<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Casa Nova</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if usuario is not empty %}
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-group fa-fw"></i> Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/clientes"><i class="fa fa-table fa-fw"></i> Listar clientes</a>
          <a class="dropdown-item" href="/admin/tiposcliente"><i class="fa fa-cog fa-fw"></i> Tipos de clientes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/cliente/novo"><i class="fa fa-plus fa-fw"></i> Cadastrar cliente</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bank fa-fw"></i> Im贸veis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/tiposimoveis"><i class="fa fa-table fa-fw"></i> Listar im贸veis</a>
          <a class="dropdown-item" href="/admin/tiposimoveis"><i class="fa fa-cog fa-fw"></i> Tipos de im贸veis</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/tiposimoveis/novo"><i class="fa fa-plus fa-fw"></i> Cadastrar im贸vel</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-dollar fa-fw"></i> Contabilidade <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if usuario is not empty %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{usuario.nome|capitalize|split(' ')[0]}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"><span class="fa fa-sign-out fw"></span> Sair</a>
          </div>
        </li>
        {% endif %}
        
      </ul>
  </div>
</nav>